body {
    background-color: $crem;
}

.vertical-social-btn {
    position: fixed;
    top:30%;
    left:10vw;
}

.section {
    padding-top: 50px;
    padding-bottom: 50px;
}

.min-h-80 {
    min-height: 80vh!important;
}
