
// Body
$body-bg: #f5f8fa;

// Typography
$font-family-sans-serif: "Raleway", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$grey: #3b3b3b;
$light-grey: #616161;
$crem: #F5F2ED;
$black: #000;

$primary: #00b1b3;
