
// Body
$body-bg: #f5f8fa;

// Typography
$font-family-sans-serif: "Raleway", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$grey: #3b3b3b;
$crem: #F5F2ED;
$first_footer: #e2dcd2;
$second_footer: #e2dcd2;
$black: #000;

$primary: #00b1b3;

// Animations
$base_delay: 1s;

$use-fadeIn: true;
$use-fadeOut: true;
