.card {
    box-shadow: 1px 1px 3px $grey;
    border-radius: 0px;
    border: 0;
}

.bg {
    background-size: cover;
    background-position: center;
    transition: all 0.5s ease-in-out;

    &.small {
        min-height: 150px;
    }
}

.bg:hover {
    opacity: 0.2;
}


@include media-breakpoint-up(xs) {
    .bg {
        min-height: 150px;
    }
}

@include media-breakpoint-up(sm) {
    .bg {
        min-height: 250px;
    }
}

@include media-breakpoint-up(md) {
    .bg {
        min-height: 350px;
    }
}

@include media-breakpoint-up(lg) {
    //
}

@include media-breakpoint-up(xl) {
    //
}
