.footer {
    color: $black;
    border-bottom: 1px solid $crem;
}

.footer__top {
    background-color: $first_footer;
    border-bottom: 1px solid $crem;
}

.footer__bottom {
    background-color: $second_footer;
}
