.profile-image-wrapper {
    height:200px;
    width:200px;
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;

    &.small {
        width: 64px;
        height: 64px;
    }
}

img.profile-img {
    display: block;
    width: 100px;
    height: 100px;
    object-fit: cover;

    &.large {
        width: 400px;
        height: 400px;
    }
}

.bg-img {
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.profile-img {
    width: 100%;
}

.selected-img {
    box-shadow: $box_shadow;
    opacity: 0.5;
}


@include media-breakpoint-up(xs) {
    .bg-img {
        height: 200px;

        &.small {
            height: 80px;
        }
    }
}

@include media-breakpoint-up(sm) {
    .bg-img {
        height: 300px;

        &.small {
            height: 100px;
        }
    }
}

@include media-breakpoint-up(md) {
    .bg-img {
        height: 450px;

        &.small {
            height: 150px;
        }
    }
}

@include media-breakpoint-up(lg) {
    //
}

@include media-breakpoint-up(xl) {
    //
}
