.profile-image-wrapper {
    height:200px;
    width:200px;
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;

    &.small {
        width: 64px;
        height: 64px;
    }
}
