/* .featured-image {
    position: relative;
    width: 100%;
    height: 400px;
    top: -25px;
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
} */
/*
.mini-featured-image {
    width: 64px;
    height: 64px;
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
} */

/* .profile-image-wrapper {
    height:200px;
    width:200px;
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    border-radius: 50%;
} */

/* .profile-image-wrapper.small {
    width: 64px;
    height: 64px;
} */

.post-content {
    position: relative;
    top: -200px;
}

.feature-image-post-card:hover {
    opacity: 0.8;
    transition: all 0.3s ease-in-out;
}

.comment-user-image {
    height: 64px;
    width: 64px;
}

.comment-author-name-reply {
    margin-top:5px;
    font-size: 0.8em;
    line-height: 1.5em;
}
